@page "/login"
@inject NavigationManager NavigationManager
<h3>Login</h3>
<!-- A redirect to the home page (needed by Authentication Service to prevent crashes)-->
@code {
    
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/");
        base.OnInitialized();
        
    }

}